# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/public/loader.js
/public/loader.js.map
/public/snippet.js
/public/snippet.full.js

# generated
src/styles/build.css.map

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/.netlify

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# astro build output
dist/
.output/
.astro/
