.Detective {
  color: green;
}

.detective-ui-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.detective-ui-section {
  background-color: yellow;
  height: 200px;
  margin: 10px;
  padding: 10px;
}

.detective-ui-selected {
  background-color: red;
  color: white;
}

.detective-ui-details-button {
  color: blue;
}

.detective-ui-details-button-selected {
  background: cyan;
  color: blue;
}

button:focus {
  outline: 0;
}
