/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

html {
  @apply font-body;
}

html.rem-is-15px {
  font-size: 15px;
}

html,
body,
#root {
  height: 100%;
}

a {
  @apply underline;
}

/* TODO: remove after TW 3 release */
.scroll-smooth {
  scroll-behavior: smooth;
}

/*
** Tagline
*/

.toggle-checkbox:checked {
  @apply: right-0 border-gray-600;
  right: 0;
  border-color: rgb(37, 99, 235);
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-gray-600;
  background-color: rgb(28, 42, 54);
}

@tailwind utilities;

::-webkit-resizer {
  display: none;
}

html pre code.hljs {
  @apply overflow-visible bg-transparent p-0 text-black dark:text-white;
  white-space: pre-wrap;
}

.bg-dots {
  background-image: radial-gradient(theme("colors.zinc.300") 1px, transparent 1px);
  background-size: 5px 5px;
}

.dark .bg-dots {
  background-image: radial-gradient(theme("colors.zinc.800") 1px, transparent 1px);
  background-size: 5px 5px;
}

@layer components {
  .table tr:not(:last-child) {
    @apply border-b border-b-zinc-200 dark:border-b-zinc-700;
  }

  .table thead tr {
    @apply border-b border-b-zinc-500;
  }
}
