/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

html {
  @apply font-body;
}

html.rem-is-15px {
  font-size: 15px;
}

html,
body,
#root {
  height: 100%;
}

a {
  @apply underline;
}

/* TODO: remove after TW 3 release */
.scroll-smooth {
  scroll-behavior: smooth;
}

/*
** Tagline
*/

.toggle-checkbox:checked {
  @apply: right-0 border-gray-600;
  right: 0;
  border-color: rgb(37, 99, 235);
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-gray-600;
  background-color: rgb(28, 42, 54);
}

@tailwind utilities;

::-webkit-resizer {
  display: none;
}

html pre code.hljs {
  @apply overflow-visible bg-transparent p-0 text-black;
  white-space: pre-wrap;
}
