---
import { Hamburger as HamburgerIcon } from "../Icons";

export type Props = {
  className: string;
};
const props = Astro.props;
---

<div class={`block ${props.className}`}>
  <button class="sidebar-menu-button">
    <HamburgerIcon className="h-6 w-8 text-[#6B7280]" ariaLabel="Menu" />
  </button>
</div>

<script>
  const buttons = document.querySelectorAll(".sidebar-menu-button");
  buttons.forEach(button => {
    button.addEventListener("click", e => {
      const sidebarToggleEvent = new CustomEvent("sidebar-toggle", {
        bubbles: true,
        cancelable: true,
      });
      const cancelled = e.target?.dispatchEvent(sidebarToggleEvent);
      if (cancelled) {
        e.preventDefault();
      }
    });
  });
</script>
../Admin/Icons../Icons